.list {

    padding: 0px;
    margin: auto;
    width: 250px;
    list-style: none;
}

.item {
    background-color: rgb(236, 234, 234);
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
}

.true {
    background-color: green;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.false {
    background-color: red;
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}