
.statistics {
   width: 250px;
background-color: rgb(194, 194, 194);
margin-left: auto;
margin-right: auto; 

}

.title {
    text-align: center;
    color: rgb(98, 100, 100);
   
}

.list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    color: rgb(26, 25, 25);
}
.item {
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    border: 1px solid grey;
    height: 45px;
}